html, body {
  height: 100vh;
  margin: 0;
}

#container {
  display: flex;
  flex-flow: column;
  height: 100%;
}

#hidden-page-container {
  display: none;
}

#menu {
  background-color: black;
  flex: 0 1 auto;
  position: sticky;
  top: 0;
}

#menu button {
  width: 100px;
  height: 50px;
  margin: 10px;
}

#menu button.selected {
  background-color: yellow;
  border-color: gold;
}

#current-page-container {
  flex: 1 1 auto;
  min-height: 0;
}

.page {
  --page-margin: 1em;
  margin: var(--page-margin);
}

#rules p {
  white-space: pre-wrap;
}

#chat {
  display: flex;
  flex-flow: column;
  height: calc(100% - var(--page-margin));
}

#chat .chat-input {
  flex: 0 1 auto;
  margin: 0 0 var(--page-margin)
}

#chat-messages {
  flex: 1 1 auto;
  overflow: scroll;
  scroll-behavior: smooth;
  padding: 0 var(--page-margin);
  margin: 0 0 var(--page-margin);
  border: 1px solid black;
}

#canvas {
  background-color: aqua;
}