* {
  box-sizing: border-box;
}

html, body {
  height: 100vh;
  margin: 0;
}

#container {
  display: flex;
  flex-flow: column;
  height: 100%;
}

#menu {
  background-color: black;
  flex: 0 1 auto;
  position: sticky;
  top: 0;
  display: flex;
  padding-right: 10px;
  z-index: 100;
}

#menu button {
  flex: 1 1;
  height: 4em;
  margin: 10px 0px 10px 10px;
}

#menu button.selected {
  background-color: yellow;
  border-color: gold;
}

#content {
  flex: 1 1 auto;
  min-height: 0;
}

.page:not(.selected) {
  display: none;
}

.page {
  --page-margin: 1em;
  padding: var(--page-margin);
}

.page.flex.selected {
  display: flex;
  flex-flow: column;
  height: 100%;
}

#chat .chat-input {
  flex: 0 1 auto;
  margin: var(--page-margin) 0 0;
}

#chat-messages {
  flex: 1 1 auto;
  overflow: auto;
  word-wrap: break-word;
  scroll-behavior: smooth;
  padding: 0 var(--page-margin);
  border: 1px solid black;
}

#game.selected  {
  display: grid;
  height: 100%;
  grid-template-columns: 1fr auto 1fr;
  grid-auto-rows: 100%; 
}

#board {
  --board-size: min(calc(100vw), calc(100vh - var(--page-margin) - 4em - 26px));
  width: var(--board-size);
  height: var(--board-size);
  grid-area: 'board';
}

canvas.board {
  position: absolute;
  width: inherit;
  height: inherit;
}

#left {
  background-color: red;
  grid-area: 'left';
}

#right {
  background-color: blue;
  grid-area: 'right';
}