* {
  box-sizing: border-box;
}

html, body {
  height: 100vh;
  margin: 0;
}

#container {
  display: flex;
  flex-flow: column;
  height: 100%;
}

#menu {
  background-color: black;
  flex: 0 1 auto;
  position: sticky;
  top: 0;
  display: flex;
  padding: 10px;
  gap: 10px;
  z-index: 100;
}

#menu button {
  flex: 1 1;
  height: 4em;
}

#menu button.selected {
  background-color: yellow;
  border-color: gold;
}

#content {
  flex: 1 1 auto;
  min-height: 0;
  container: content / size;
}

.page:not(.selected) {
  display: none;
}

.page {
  --page-margin: 2vmin;
  padding: var(--page-margin);
}

#chat.selected {
  display: flex;
  flex-flow: column;
  height: 100%;
  gap: var(--page-margin);
}

#chat .chat-input {
  flex: 0 1 auto;
}

#chat-messages {
  flex: 1 1 auto;
  overflow: auto;
  word-wrap: break-word;
  scroll-behavior: smooth;
  padding: 0 var(--page-margin);
  border: 1px solid black;
}

#game.selected {
  display: contents;
}

#game .game-page:not(.shown) {
  display: none;
}

#game-lobby.shown {
  display: flex;
  flex-flow: column;
  height: 100%;
  gap: var(--page-margin);
  padding: inherit;
  align-items: center;
}

#game-lobby h1 {
  margin: 0;
  text-align: center;
}

#lobby-buttons {
  width: 100%;
  display: flex;
  flex-flow: row;
  gap: 1em;
}

#lobby-buttons button {
  flex: 1 1 auto;
  padding: 2em;
}

#lobby-rooms {
  width: 100%;
  flex: 1 1 auto;
  overflow: auto;
  scroll-behavior: smooth;
  padding: 5px;
  border: 1px solid black;
  display: flex;
  flex-flow: column;
  gap: 5px;
  justify-content: flex-start;
}

.lobby-room {
  border: 1px solid black;
  flex: 0 0 8em;
  overflow: hidden;
  display: flex;
  flex-flow: row;
  align-items: stretch;
  gap: 1em;
  padding: 1em;
}

.lobby-room-players {
  flex: 1;
  border: 1px solid black;
  white-space: nowrap;
  overflow: hidden;
  display: flex;
  flex-flow: column wrap;
  column-gap: 1em;
}

.lobby-room p,h2 {
  margin: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: medium;
}

.lobby-room-info {
  flex: 0 0 20%;
  display: flex;
  flex-flow: column;
  text-align: center;
  justify-content: center;
}

#game-content.shown {
  display: grid;
  height: 100%;
  gap: var(--page-margin);
  padding: inherit;
}

#board {
  aspect-ratio: 1/1;
  height: 100%;
  grid-area: b;
}

canvas.board {
  height: 100%;
  width: 100%;
  position: absolute;
}

.game-ui {
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
  justify-content: flex-start;
  overflow: scroll;
}

#left {
  background-color: red;
  grid-area: l;
}

#right {
  background-color: blue;
  grid-area: r;
}

#dice-container {
  border: 1px solid black;
  display: flex;
  flex-flow: row wrap;
  gap: 1vmin;
  padding: 1vmin;
  width: fit-content;
  height: fit-content;
  cursor: pointer;
}

.dice {
  --size: max(10vmin, 40px);
  width: var(--size);
  height: var(--size);
  font-size: calc(.8 * var(--size));
  user-select: none;
  -webkit-user-select: none;
  align-items: center;
  justify-content: center;
  display: flex;
}

#dice-player {
  background-color: aqua;
}

#dice-bridge {
  background-color: lime;
}

#dice-monster {
  background-color: darkred;
}

.penis {
  width: 50px;
  height: 50px;
  border: 1px solid black;
  background-color: pink;
}

.big-penis {
  width: 80px;
  height: 40px;
  border: 1px solid black;
  background-color: brown;
}

.pp {
  width: 20px;
  height: 20px;
  border: 1px solid black;
  background-color: brown;
}

@media (orientation: landscape) {
  #container {
    flex-flow: row;
  }

  #menu {
    flex-flow: column;
    width: min-content;
  }

  #rules {
    height: 100%;
    overflow: auto;
  }
}

/* @container content (aspect-ratio > 2) {
  #game-content.shown {
    grid-auto-columns: 1fr max-content 1fr;
    grid-template-areas: 
      'l b r';
    grid-auto-rows: 100%;
  }
} */

@container content (5/4 < aspect-ratio) {
  #game-content.shown {
    grid-template-columns: max-content auto;
    grid-auto-rows: 1fr;
    height: 100%;
    grid-template-areas: 
      'b l'
      'b r';
  }
}

@container content (1 < aspect-ratio <= 5/4) {
  #game-content.shown {
    grid-auto-columns: 3fr 4fr;
    grid-template-areas: 
      'l b'
      'r r';
    grid-auto-rows: 1fr;
    height: 100%;
  }
}

@container content (3/4 < aspect-ratio <= 1) {
  #game-content.shown {
    grid-auto-columns: 3fr 4fr;
    grid-template-areas: 
      'l b'
      'l r';
    grid-auto-rows: 1fr;
    height: 100%;
  }
}

@container content (aspect-ratio <= 3/4) {
  #game-content.shown {
    grid-template-rows: max-content 1fr;
    grid-auto-columns: 1fr;
    width: 100%;
    grid-template-areas: 
      'b b'
      'l r';
  }

  #board {
    width: 100%;
    height: unset;
  }
}

/* @container content (aspect-ratio <= 1/2) {
  #game-content.shown {
    grid-template-rows: max-content 1fr 1fr;
    grid-template-areas: 
      'b'
      'l'
      'r';
    grid-auto-columns: 100%;
  }

  #board {
    width: 100%;
    height: unset;
  }
} */