html, body {
  height: 100vh;
  margin: 0;
}

#container {
  display: flex;
  flex-flow: column;
  height: 100%;
}

#content {
  flex: 1 1 auto;
  min-height: 0;
}

#content .page:not(.selected) {
  display: none;
}

#menu {
  background-color: black;
  flex: 0 1 auto;
  position: sticky;
  top: 0;
  display: flex;
  padding-right: 10px;
}

#menu a {
  display: contents;
}

#menu button {
  flex: 1 1;
  height: 50px;
  margin: 10px 0px 10px 10px;
}

#menu button.selected {
  background-color: yellow;
  border-color: gold;
}

.page {
  --page-margin: 1em;
  margin: var(--page-margin);
}

#chat.selected {
  display: flex;
  flex-flow: column;
  height: calc(100% - var(--page-margin));
}

#chat .chat-input {
  flex: 0 1 auto;
  margin: 0 0 var(--page-margin)
}

#chat-messages {
  flex: 1 1 auto;
  overflow: auto;
  word-wrap: break-word;
  scroll-behavior: smooth;
  padding: 0 var(--page-margin);
  margin: 0 0 var(--page-margin);
  border: 1px solid black;
}

#canvas {
  background-color: aqua;
}