html, body {
  height: 100vh;
  margin: 0;
}

#container {
  display: flex;
  flex-flow: column;
  height: 100%;
}

#menu {
  background-color: black;
  flex: 0 1 auto;
  position: sticky;
  top: 0;
  display: flex;
  padding-right: 10px;
  z-index: 100;
}

#menu a {
  display: contents;
}

#menu button {
  flex: 1 1;
  height: 4em;
  margin: 10px 0px 10px 10px;
}

#menu button.selected {
  background-color: yellow;
  border-color: gold;
}

#content {
  flex: 1 1 auto;
  min-height: 0;
}

.page:not(.selected) {
  display: none;
}

.page {
  --page-margin: 1em;
  margin: var(--page-margin);
}

.page.flex.selected {
  display: flex;
  flex-flow: column;
  height: calc(100% - var(--page-margin));
}

#chat .chat-input {
  flex: 0 1 auto;
  margin: 0 0 var(--page-margin)
}

#chat-messages {
  flex: 1 1 auto;
  overflow: auto;
  word-wrap: break-word;
  scroll-behavior: smooth;
  padding: 0 var(--page-margin);
  margin: 0 0 var(--page-margin);
  border: 1px solid black;
}

#board {
  --board-size: min(calc(100vw - 2*var(--page-margin)), calc(100vh - 2*var(--page-margin) - 4em - 10px));
}

canvas.board {
  position: absolute;
  width: var(--board-size);
  height: var(--board-size);
}

#spawn {
  background-color: aqua;
  z-index: 1;
}

#bridge1 {
  background-color: brown;
  z-index: 2;
}

#land1 {
  background-color: green;
  z-index: 3;
}

#bridge2 {
  background-color: orange;
  z-index: 4;
}

#land2 {
  background-color: blue;
  z-index: 5;
}