#canvas {
  background-color: aqua;
}

#menu {
  background-color: black;
}

#menu button {
  width: 100px;
  height: 50px;
  margin: 10px;
}

#chat-messages {
  overflow: auto;
  height: fit-content;
}

#current-page-container {
  display: block;
}

#hidden-page-container {
  display: none;
}